<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjMij7KDgVWTihP_vUboKl0AgAo-zn8EY</string>
	<key>GCM_SENDER_ID</key>
	<string>440341981390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quatropatas.app</string>
	<key>PROJECT_ID</key>
	<string>quatropatas-a8f96</string>
	<key>STORAGE_BUCKET</key>
	<string>quatropatas-a8f96.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440341981390:ios:66ccd3cfa0ed2db093c89f</string>
</dict>
</plist>