<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkN6zXKWSupSFNRsxiL4SQ1Y1cL2mHUr0</string>
	<key>GCM_SENDER_ID</key>
	<string>983841428591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viniciuscoelho.quatropatas</string>
	<key>PROJECT_ID</key>
	<string>quatro-patas-c35e5</string>
	<key>STORAGE_BUCKET</key>
	<string>quatro-patas-c35e5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983841428591:ios:850f9e6e28294c219e299a</string>
</dict>
</plist>